#name{
    text-align: center;
    position: absolute;
    right: 40%;
    margin-top: 1%;
}

#auth{
    position: absolute;
    color: black;
    right: 8%;
    top: 20%;
    font-weight: 500;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
#exit{
    position: absolute;
    color: black;
    right: 1%;
    top: 20%;
    font-weight: 500;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#register{
    position: absolute;
    color: black;
    right: 1%;
    top: 20%;
    font-weight: 500;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.popup-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup{
    position: absolute;
    background: white;
    width: 600px;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%,-50%);
}

.close-popup-register{
    position: absolute;
    top:30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close-popup-auth{
    position: absolute;
    top:30px;
    right: 30px;
    width: 30px;
    height: 30px;
}

#form-cont{
    margin-right: 5%;
    margin-left: 5%;
}

.Vote{
    margin-right: 10%;
    margin-left: 10%;
}

.write{
    margin-top: 5%;
    margin-bottom: 1%;
}

.go-vote{
    color: blue;
    position: relative;
    top:3%;
    bottom: 0;
    font-weight: 500;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}